@charset "UTF-8";
:root {
  /* PRIMARY: */
  --bs-primary: #ffffff;
  --bs-primary-rgb: 255, 255, 255;
  /* SECONDARY: */
  --bs-secondary: #e26a08;
  --bs-secondary-rgb: 226, 106, 8;
  --bs-gray-900-rgb: 33, 37, 41;
}

/*----------------------------------------------------------- ANIMATIONS ----------------------------------------------------*/
.text-hover-slide {
  -webkit-transition: letter-spacing 1.6s ease, -webkit-transform 1.6s ease;
  transition: letter-spacing 1.6s ease, -webkit-transform 1.6s ease;
  transition: transform 1.6s ease, letter-spacing 1.6s ease;
  transition: transform 1.6s ease, letter-spacing 1.6s ease, -webkit-transform 1.6s ease;
}

.text-hover-slide:hover {
  -webkit-transform: translateX(0.35rem) scaleX(1.2) scaleY(1.2);
          transform: translateX(0.35rem) scaleX(1.2) scaleY(1.2);
  letter-spacing: 0.4em;
}

.slide-l-h1 {
  /* Animazione: l'immagine parte da dx o sx e fa uno slide in posizione */
  opacity: 0;
  --start-x: -200px;
  --start-y: 0;
  -webkit-animation: slideXY 1s ease-out forwards;
          animation: slideXY 1s ease-out forwards;
}

.slide-l-img {
  /* Animazione: l'immagine parte da dx o sx e fa uno slide in posizione */
  opacity: 0;
  --start-x: -500px;
  --start-y: 0;
  -webkit-animation: slideXY 1s ease-out forwards;
          animation: slideXY 1s ease-out forwards;
}

@-webkit-keyframes slideXY {
  from {
    opacity: 0;
    -webkit-transform: translate(var(--start-x, 0), var(--start-y, 0));
            transform: translate(var(--start-x, 0), var(--start-y, 0));
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes slideXY {
  from {
    opacity: 0;
    -webkit-transform: translate(var(--start-x, 0), var(--start-y, 0));
            transform: translate(var(--start-x, 0), var(--start-y, 0));
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.nav-with-light::after {
  content: "";
  position: absolute;
  bottom: -0.6rem;
  left: 0;
  width: 100%;
  height: 2.5rem;
  pointer-events: none;
  z-index: -1;
  border-radius: 30%;
  background: radial-gradient(circle, rgba(226, 106, 8, 0.95) 5%, rgba(226, 106, 8, 0.5) 15%, rgba(226, 106, 8, 0) 55%);
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: nav-light-spot-move 2s ease-in-out infinite alternate;
          animation: nav-light-spot-move 2s ease-in-out infinite alternate;
}

@-webkit-keyframes nav-light-spot-move {
  0% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  100% {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
}

@keyframes nav-light-spot-move {
  0% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  100% {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
}

.img-rotateY {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

@-webkit-keyframes img-rotateY-pop {
  0% {
    -webkit-transform: perspective(30rem) rotateY(0deg) translateZ(0);
            transform: perspective(30rem) rotateY(0deg) translateZ(0);
  }
  50% {
    -webkit-transform: perspective(50rem) rotateY(180deg) translateZ(15rem);
            transform: perspective(50rem) rotateY(180deg) translateZ(15rem);
  }
  100% {
    -webkit-transform: perspective(30rem) rotateY(0deg) translateZ(0);
            transform: perspective(30rem) rotateY(0deg) translateZ(0);
  }
}

@keyframes img-rotateY-pop {
  0% {
    -webkit-transform: perspective(30rem) rotateY(0deg) translateZ(0);
            transform: perspective(30rem) rotateY(0deg) translateZ(0);
  }
  50% {
    -webkit-transform: perspective(50rem) rotateY(180deg) translateZ(15rem);
            transform: perspective(50rem) rotateY(180deg) translateZ(15rem);
  }
  100% {
    -webkit-transform: perspective(30rem) rotateY(0deg) translateZ(0);
            transform: perspective(30rem) rotateY(0deg) translateZ(0);
  }
}

.img-rotateY:hover {
  -webkit-animation: img-rotateY-pop 2s ease-in-out forwards;
          animation: img-rotateY-pop 2s ease-in-out forwards;
}

.circle-rotateY {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

@-webkit-keyframes circle-rotateY-pop {
  0% {
    -webkit-transform: perspective(1rem) rotateY(0deg) translateZ(0);
            transform: perspective(1rem) rotateY(0deg) translateZ(0);
  }
  75% {
    -webkit-transform: perspective(2rem) rotateY(360deg) translateZ(1rem);
            transform: perspective(2rem) rotateY(360deg) translateZ(1rem);
  }
  100% {
    -webkit-transform: perspective(1rem) rotateY(360deg) translateZ(0);
            transform: perspective(1rem) rotateY(360deg) translateZ(0);
  }
}

@keyframes circle-rotateY-pop {
  0% {
    -webkit-transform: perspective(1rem) rotateY(0deg) translateZ(0);
            transform: perspective(1rem) rotateY(0deg) translateZ(0);
  }
  75% {
    -webkit-transform: perspective(2rem) rotateY(360deg) translateZ(1rem);
            transform: perspective(2rem) rotateY(360deg) translateZ(1rem);
  }
  100% {
    -webkit-transform: perspective(1rem) rotateY(360deg) translateZ(0);
            transform: perspective(1rem) rotateY(360deg) translateZ(0);
  }
}

.timeline-item:hover::before {
  -webkit-animation: circle-rotateY-pop 1s ease-in-out forwards;
          animation: circle-rotateY-pop 1s ease-in-out forwards;
}

/*-----------------------------------------PROGRESS BAR--------------------------------------------*/
/* anima il width da 0 a 25% senza hover */
@-webkit-keyframes fill-bar {
  from {
    width: 0%;
  }
  to {
    width: var(--width-end);
  }
}
@keyframes fill-bar {
  from {
    width: 0%;
  }
  to {
    width: var(--width-end);
  }
}

.progress,
.progress-stacked {
  --bs-progress-height: 0.2rem;
  --bs-progress-bg: #241d18;
  --bs-progress-border-radius: 0.25rem;
  --bs-progress-box-shadow: none;
  height: var(--bs-progress-height);
  background-color: var(--bs-progress-bg);
  border-radius: var(--bs-progress-border-radius);
}

.progress-bar {
  --bs-progress-bar-bg: #e26a08;
  /* barra arancione */
  background-color: var(--bs-progress-bar-bg);
  width: 0;
  /* stato iniziale (width: 0) */
}

/* $skill e $perc corrispondono a key e value della struttura $progress-values
  /* $skill sarà anche il nome della nuova classe creata dinamicamente in base alla key di $progress-values*/
.progress-bar.iec-cod {
  --width-end: 90%;
  -webkit-animation: fill-bar 2s ease-out forwards;
          animation: fill-bar 2s ease-out forwards;
}

/* $skill e $perc corrispondono a key e value della struttura $progress-values
  /* $skill sarà anche il nome della nuova classe creata dinamicamente in base alla key di $progress-values*/
.progress-bar.python {
  --width-end: 76%;
  -webkit-animation: fill-bar 2s ease-out forwards;
          animation: fill-bar 2s ease-out forwards;
}

/* $skill e $perc corrispondono a key e value della struttura $progress-values
  /* $skill sarà anche il nome della nuova classe creata dinamicamente in base alla key di $progress-values*/
.progress-bar.sql {
  --width-end: 67%;
  -webkit-animation: fill-bar 2s ease-out forwards;
          animation: fill-bar 2s ease-out forwards;
}

/* $skill e $perc corrispondono a key e value della struttura $progress-values
  /* $skill sarà anche il nome della nuova classe creata dinamicamente in base alla key di $progress-values*/
.progress-bar.js {
  --width-end: 62%;
  -webkit-animation: fill-bar 2s ease-out forwards;
          animation: fill-bar 2s ease-out forwards;
}

/* $skill e $perc corrispondono a key e value della struttura $progress-values
  /* $skill sarà anche il nome della nuova classe creata dinamicamente in base alla key di $progress-values*/
.progress-bar.htmlcss {
  --width-end: 70%;
  -webkit-animation: fill-bar 2s ease-out forwards;
          animation: fill-bar 2s ease-out forwards;
}

/* $skill e $perc corrispondono a key e value della struttura $progress-values
  /* $skill sarà anche il nome della nuova classe creata dinamicamente in base alla key di $progress-values*/
.progress-bar.docker {
  --width-end: 68%;
  -webkit-animation: fill-bar 2s ease-out forwards;
          animation: fill-bar 2s ease-out forwards;
}

/* $skill e $perc corrispondono a key e value della struttura $progress-values
  /* $skill sarà anche il nome della nuova classe creata dinamicamente in base alla key di $progress-values*/
.progress-bar.gitlab {
  --width-end: 70%;
  -webkit-animation: fill-bar 2s ease-out forwards;
          animation: fill-bar 2s ease-out forwards;
}

/* $skill e $perc corrispondono a key e value della struttura $progress-values
  /* $skill sarà anche il nome della nuova classe creata dinamicamente in base alla key di $progress-values*/
.progress-bar.terraform {
  --width-end: 68%;
  -webkit-animation: fill-bar 2s ease-out forwards;
          animation: fill-bar 2s ease-out forwards;
}
/*# sourceMappingURL=animations.css.map */