$bs-black-0x241d18 : #241d18;
$bs-black-0x241d18-rgb : 36, 29, 24;
$secondary : #e26a08; 
$btn-disabled-bg : rgba(226, 106, 8, 0.6);
:root {
    /* PRIMARY: */
    --bs-primary: #ffffff; 
    --bs-primary-rgb: 255, 255, 255;  

    /* SECONDARY: */
    --bs-secondary: #e26a08;
    --bs-secondary-rgb: 226, 106, 8;  
    --bs-gray-900-rgb: 33, 37, 41; 

}



 