 

@import "../../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Nunito");

:root{   
    --bs-body-font-family: 'Nunito', sans-serif;
    --bs-progress-height: 0.2rem;
    --bs-border-radius: 0.375rem;    
    --bs-border-width : 2px;
}
@import "animations"; 
@import "custom_shapes";  

.text-justify{
    text-align: justify; 
}

.first-letter::first-letter{
    font-size:200%;
    font-weight:400;
    color: #{$secondary};
}

.navbar {
    background-color: #{$secondary};
}

.space-divider-rect{
    height: 2rem;
}

/* ---------------------------------COLORS-------------------------------------------*/
                           
.shadow-orange {
    box-shadow: 0 1.5rem 3rem rgba(var(--bs-secondary-rgb), 0.6) !important;
}

.shadow-gray-900{
    box-shadow: 0 1.5rem 3rem rgba(var(--bs-gray-900-rgb), 0.6) !important;
}

.bg-black-0x241d18 {
    background-color: rgba($bs-black-0x241d18, 1) !important;
}
   
.black-0x241d18 {
    color: $bs-black-0x241d18 !important;
}

.secondary-color{
    color: #{$secondary}; 
}

.navbar.navbar-dark {
    /*Le sovrascrivo nella navbar perchè li sovrascrive se li metto nella root*/ 
    --bs-navbar-color: rgba(255,255,255,0.8);
    --bs-navbar-toggler-border-color: rgba(255,255,255,0.6);
}
 
.navbar-toggler {
    border: 3px solid rgba(255,255,255,0.6);
}

.btn-secondary {
    --bs-btn-color:#fff;
    --bs-btn-bg: #{$secondary};
    --bs-btn-border-color: #fff;
    --bs-btn-hover-color: #{$secondary};
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color:#{$secondary};
    --bs-btn-focus-shadow-rgb: #{$bs-black-0x241d18-rgb};
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #{$bs-black-0x241d18};
    --bs-btn-active-border-color: #{$secondary};
    --bs-btn-active-shadow: 4px 4px 3px 3px rgba($secondary, 0.5);//inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #{$btn-disabled-bg};  
    --bs-btn-disabled-border-color: #fff; 
} 
 
.form-control{
    --bs-body-color : #{$bs-black-0x241d18};
    --bs-border-color : #{$bs-black-0x241d18};
    color: #{$secondary};
}

.form-control:focus{
    border-color: #{$secondary};
    box-shadow: 4px 4px 3px 3px rgba($secondary, 0.5);
} 

.form-select {
    --bs-body-color : #{$bs-black-0x241d18};
    --bs-border-color : #{$bs-black-0x241d18};
    color: var(--bs-body-color);
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
}
 
/* ------------------------------------------------ SPACING ----------------------------------------------------*/
.mt-6 {
    margin-top: ($spacer * 6);
}
.mt-7 {
    margin-top: ($spacer * 9);
}
.mt-8 {
    margin-top: ($spacer * 12);
}
.mt-9 {
    margin-top: ($spacer * 15);
}
.mb-6 {
    margin-bottom: ($spacer * 6);
}
.mb-7 {
    margin-bottom: ($spacer * 9);
}
.mb-8 {
    margin-bottom: ($spacer * 12);
}
.mb-9 {
    margin-bottom: ($spacer * 15);
}
.mb-10 {
    margin-bottom: ($spacer * 18);
}
.h-0 {
    height: 0px !important;
}
.h-1{
    height: ($spacer * 0.25);
}
.h-6{
    height: ($spacer * 6) !important;
}
  
.nav-icons > ol, ul {
    padding-left: 0.5rem;
}
/*----------------------------------------CUSTOM SIZING----------------------------*/




/*---------------------------------------- FONT ICONS------------------------------*/
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400, 
    'GRAD' 0,
    'opsz' 40;
    color: $secondary; 
}   
   
.material-symbols-outlined.g-icon-1em { font-size: 1rem; }
.material-symbols-outlined.g-icon-2em { font-size: 2rem; }
.material-symbols-outlined.g-icon-3em { font-size: 3rem; }
.material-symbols-outlined.g-icon-4em { font-size: 4rem; }
.material-symbols-outlined.g-icon-6em { font-size: 6rem; } 
.material-symbols-outlined.g-icon-7em { font-size: 7rem; } 

 
/* Mobile Styles */
@media only screen and (max-width: 578px) {
    .mt-sm-md-9 {
        margin-top: ($spacer * 15);
    }

    .w-80-md {
        width: 80% !important;
    }
} 

/* Tablet Styles */
@media only screen and (min-width: 579px) and (max-width: 992px) {
    .mt-md-lg-9 {
        margin-top: ($spacer * 15);
    }

    .mt-md-lg-8 {
        margin-top: ($spacer * 12);
    }
}

@media only screen and (min-width: 579px) and (max-width: 2048px) {
    .w-25-lg {
        width: 25% !important;
    }
}
      
 
   

 


